/* Accordion */
@mixin square-icon-styling($id, $top-or-bottom, $left-or-right) {
  // .MuiSvgIcon-root .cas-square-#{$id} {
  .MuiSvgIcon-root {
    &.cas-square-#{$id} {
      position: absolute;
      width: 15px;
      height: 15px;
      z-index: 0;
      #{$top-or-bottom}: 0;
      #{$left-or-right}: 0;
    }
  }
}



$primary: white;
$secondary: black;
$tertiary: $yellow;
$background-def: $tertiary;


.custom-accordion {
  display: flex;
  flex-direction: column;
  &-section {
      text-transform: uppercase;
      background: $background-def;
      color: $secondary;
      &:nth-child(even) {
        background: none;
        color: $primary;
      }
      &:nth-child(3) {
        background: none;
        .cas-visible-content {
          .cas-card {
            background: $background-def;
          }
        }
      }
      .cas-visible-content {
        .cas-card {
          height: 100%;
          cursor: pointer;
          background-color: inherit;
          .cas-top-row {
            margin: 0;
            padding-top: 0.5rem;
            border-bottom: 0.2rem solid;
            display: flex;
            justify-content: center;
            align-content: flex-end;
            height: 5rem;
            .cas-title-text {
              align-self: center;
              font-family: $font1;
              font-size: 5rem;
              font-weight: 150;
              margin: 0;
              padding: 0;
              padding-right: 1rem;
            }
          }
          .cas-bottom-row {
            margin: 0;
            padding: 0;
            font-size: 1rem;
            .cas-subcategories {
              display: flex;
              flex-direction: row;
              justify-content: center;
              span {
                margin: 0 0.8rem;
                &:hover {
                  cursor: pointer;
                  color: $white;
                }
              }
            }
          }
        }
        .cas-section-content {
          max-height: 100%;
        }
      
      }}

}

@include square-icon-styling(0, top, left);
@include square-icon-styling(1, top, right);
@include square-icon-styling(2, bottom, left);
@include square-icon-styling(3, bottom, right);
