$pc: white;
$sc: black;
$bg: none;

// comment wall component
// .comment-wall {
//   --total-comment-rows: 4;
//   --total-marquee-items-per-row: 5;
//   border: 1px solid red;
//   line-height: 1.5rem;
//   font-size: 1.5rem;
//   text-align: center;
//   overflow: hidden;
//   color: $pc;
//   border-color: $sc;
//   .comment-row {
//     &-comment-container {
//       &-comment-top {
//       }
//       &-comment-bottom {
//       }
//     }
//     &:nth-of-type(odd) {
//       background: $yellow;
//       color: $sc;
//       border-color: $sc;
//       animation-fill-mode: none;
//     }
//       &-bottom {
//         // border-right: 0.5rem solid;
//         // border-top: 0.2rem solid;
//         // padding-left: 1rem;
//         // font-size: 1rem;
//         // display: flex;
//         // justify-content: center;
//         // flex-direction: row;
//         // :nth-child(2) {
//         //   padding: 0 0.5rem;
//         // }
//       }
//     }
//   }
.comment-wall {
  text-transform: uppercase;
  .marquee-wrapper {
    text-align: start;
    white-space: nowrap;
    overflow: hidden;
    &:nth-of-type(even) {
      background: $yellow;
      color: $sc;
      border-color: $sc;
      animation-fill-mode: none;
    }
    .container {
      overflow: hidden;
    }
    .marquee-inner {
      display: block;
      width: 200%;
      position: absolute;
      &-span {
        float: left;
        width: 50%;
      }
      animation: marquee-left 20s linear infinite;
    }
    .marquee-block {
      margin-top: 0.5rem;
      height: 5rem;
      --total-marquee-items: 5;
      width: calc(250px * (var(--total-marquee-items)));
      overflow: hidden;
      box-sizing: border-box;
      position: relative;
    }
    .marquee-item {
      min-width: 300px;
      height: auto;
      display: inline-block;
      transition: all 0.2s ease-out;
      line-height: 1.6rem;
      height: auto;
      .comment-style-div {
        display: flex;
        flex-direction: column;
        .comment-row-comment-top {
          font-size: 1.6rem;
          list-style: none;
          height: 3rem;
          padding: 0 1rem;
          border-bottom: 0.2rem solid;
          border-left: 0.4rem solid;
        }
        .comment-row-comment-bottom {
          padding: 0 1rem;
          border-left: 0.4rem solid;
        }
      }
    }
  }
}
