.footer-container {
  z-index: 3;
  bottom: 0;
  position: fixed;
  width: 100%;
  .footer-elephant-logo-container {
    z-index: 4;
    position: absolute;
    left: 50%;
    right: auto;
    top: 0;
    .footer-elephant-logo {
      position: relative;
      left: 10px;
      scale: 0.7;
    }
  }
  .footer-background {
    background: url("../../files/svgs/bg.svg");
    position: fixed;
    bottom: 0;
    height: 4.5rem;
    width: 100%;
  }
  .footer-item-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    .footer-item {
      padding: 0 0.3rem;
      position: relative;
      z-index: 4;
      font-family: $font1;
      font-size: 1rem;
      text-decoration: underline;
      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }
    :first-child {
      padding-right: 5rem;
    }
  }

  /*
    dynamic class for bottom of the page
  */
  &.footer-at-bottom {
    position: fixed;
    bottom: 0;
    background: none;
    .footer-background {
      display: none;
    }
    .footer-item-container {
      position: relative;
      justify-content: space-evenly;
      z-index: 4;
      .footer-item {
        line-height: 1rem;
        background: white;
        text-decoration: none;
        border-color: grey;
        border-style: inset;
        border-radius: 3rem;
        bottom: 80px;
        margin: 0;
        padding: 0 1rem;
        z-index: 4;
        color: black;
        position: relative;
      }
      :first-child {
        margin-right: 30%;
      }
    }
    .footer-elephant-logo-container {
      position: absolute;
      .footer-elephant-logo {
        position: relative;
        scale: 1.2;
        bottom: 20px;
      }
    }
  }
  /* 
    responsive styling
  */

  @include for-tablet {
    &.footer-at-bottom {
      .footer-item-container {
        .footer-item {
          bottom: 120px;
        }
      }
      .footer-elephant-logo-container {
        .footer-elephant-logo {
          bottom: 2rem;
          scale: 1.5;
        }
      }
    }
  }
  @include for-desktop-up {
    &.footer-at-bottom {
      .footer-item-container {
        .footer-item {
          font-size: 1.3rem;
          bottom: 300px;
        }
      }
      .footer-elephant-logo-container {
        .footer-elephant-logo {
          bottom: 5rem;
          scale: 2;
        }
      }
    }
  }
}
