.footer-container {
  background: url("../../files/svgs/bg.svg");
  bottom: 0;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  .footer-item {
    z-index: 1;
    padding-top: 0.5rem;
    font-family: $font1;
    font-weight: 100;
    text-decoration: underline;
    &:hover {
      cursor: pointer;
    }
    .footer-elephant-logo {
      max-width: 50%;
      max-height: 50%;
    }
  }
}
