
// current delay for photo is 5000 ms
$photo-ticker-delay: 0.5s;

.custom-photo-ticker {
  z-index: 1;
  min-height: 52vh;
  width: 100%;
  background-color: $yellow;
  overflow: hidden;
  display: relative;
  .prev-b,
  .next-b {
    z-index: 2;
    cursor: pointer;
    position: absolute;
    left: 65%;
    bottom: 0;
    color: $white;
    text-decoration: none;
    border: none;
    background: none;
    opacity: 0.6;
    font-size: 5rem;
    &:hover {
      opacity: 1;
      animation-play-state: paused;
      scale: 1.5;
    }
  }
  &-photo-container {
    position: relative;
    .custom-photo-ticker-photo {
      &:hover {
        cursor: pointer;
      }
      img {
        display: none;
        background: none;
        &:active {
          cursor: pointer;
          opacity: 0.5;
        }
        &.active-photo {
          position: absolute;
          top: 0;
          right: 37%;
          left: auto;
          max-height: 50vh;
          box-sizing: border-box;
          display: inline-block;
      
          opacity: 1;
          transition: opacity 0.75s ease-out;
          &:hover {
            cursor: pointer;
            opacity: 0.8;
            animation: bounce 0.68s ease infinite;
          }
        }
        &.next-photo,
        &.prev-photo {
          position: absolute;
          right: auto;
          display: block;
          opacity: 0.5;
          max-height: 20vh;
          max-width: 20vw;
          &:hover {
            cursor: pointer;
            opacity: 0.8;
            // animation: bounce 0.7s ease infinite;
          }
          @include for-mobile {
            display: none;
          }
        }
        &.next-photo {
          right: 10%;
          animation: next-photo $photo-ticker-delay forwards;
        } 
        &.prev-photo {
          left: 10%;
          animation: prev-photo 0.75s ease-out forwards;
        }
      }
    }
  }
  
}
