.custom-ticket-section {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  .custom-ticket-image {
    @include for-mobile {
      max-width: 68%;
      max-height: 68%;
    }
    @include for-tablet {
      max-width: 58%;
      max-height: 58%;
    }
    @include for-desktop-up {
      max-width: 50%;
      max-height: 100%;
    }
  }
  .custom-ticket-text {
    font-family: $font3;
    font-size: 1rem;
    font-weight: 200;
    position: relative;
    left: -20%;
    margin: 0;
    padding: 0;
    @include for-desktop-up {
      left: -15%;
    }
  }
}
