// variables

$font1: "Source Sans Pro", sans-serif;
$font2: "Staatliches", sans-serif;
$font3: "Roboto", sans-serif;

$yellow: #fedc71;
$white: #fff9e6;
$primary: white;
$secondary: black;

$media-breakpoint-sm: 768px;
$media-breakpoint-md: 992px;
$media-breakpoint-lg: 1200px;

@mixin for-mobile {
  @media screen and (max-width: $media-breakpoint-sm) {
    @content;
  }
}

@mixin for-tablet {
  @media screen and (min-width: $media-breakpoint-sm) and (max-width: $media-breakpoint-md) {
    @content;
  }
}

@mixin for-desktop-up {
  @media screen and (min-width: $media-breakpoint-md) {
    @content;
  }
}

.svg-filter-for-yellow {
  filter: invert(77%) sepia(42%) saturate(475%) hue-rotate(356deg)
    brightness(105%) contrast(104%);
}

.errorPageContainer {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
    border-top: 2rem solid $yellow;
    border-bottom: 2rem solid $yellow;
    font-family: $font2;
    display: block;
    font-size: 3rem;
    color: white;
  }
  background: url("https://concertsbucket.s3.amazonaws.com/otherAssets/bg.svg");

  img {
    &:hover {
      cursor: pointer;
    }
  }
}

.App {
  background: url("https://concertsbucket.s3.amazonaws.com/otherAssets/bg.svg");
  /* resets */
  font-family: $font1;
  color: #fff9e6;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.5px;
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
  text-shadow: none;
  text-decoration: none;
  text-indent: 0;
  height: 100%;
}

.header-container {
  position: relative;
  background: url("https://concertsbucket.s3.amazonaws.com/otherAssets/bg.svg");
  width: 100%;
  z-index: 1;
}

.spacer-div {
  width: 100%;
}
/* 
Colors and styles
*/

.grid-container {
  max-width: 100%;
  min-height: 100%;
}

/* Component styles */

@import "./components/styles/index.scss";

/* Animation import */
@import "./files/animations.scss";
